.friendMessage {
    align-self: flex-start;
    margin-bottom: 10px;
}

.friendImageAndText {
    display: flex;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.friendText {
    position: relative;
    padding: 8px 13px;
    background-color: #F5F7FB;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
}

.friendText:after {
    content: "";
    width: 30px;
    height: 13px;
    position: absolute;
    left: -9px;
    bottom: -0.5px;
    background: #F5F7FB;
    clip-path: polygon(0 100%, 100% 100%, 75% 100%, 25% 0);
}

.friendName {
    font-size: 16px;
    font-weight: 600;
}

.friendMessageText {
    font-size: 16px;
    font-weight: 400;
}

.friendTime {
    padding-left: 12px;
    font-size: 10px;
    font-weight: 600;
}
